#formulaire-show {
    display: none;
}

.corpsPrincipal {
    max-width: 100%;
    padding: 0 10%;
}

.corps {
    min-height: 80vh;
}

.page-1 {
    text-align: center;
    color: #ffeb00;
    z-index: 999;
    opacity: 1;
    margin-top: 173px;
}

h1 {
    font-size: 65px;
    letter-spacing: 3.05px;
    font-family: calibri;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 0.8;
    text-align: center;
    color: #fdeb19;
}

h2 {
    font-size: 25px;
    letter-spacing: 1.17px;
    font-family: calibri;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    text-align: center;
    color: #fdeb19;
}

h3 {
    font-family: calibri;
    font-size: 21px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 3.57;
    letter-spacing: 0.98px;
    text-align: center;
    color: #fdeb19;
}

.repondre,
.reprendre {
    font-family: calibri;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffeb00;
    background: transparent;
    padding: 9px 43px 9px 44px;
    border-radius: 3px;
    border: solid 1px #ffeb00;
    margin-top: 87px;
    margin-bottom: 200px;
}

.repondre.oui,
.repondre.non {
    margin-top: 10px!important;
    margin-bottom: 10px;
    padding: 5px 20px 5px 20px;
    margin-right: 90px;
}

.page-2 {
    display: none;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
    margin: 95px 0;
}

.page-2 .col-12 {
    padding: 0;
}

.page-2 img {
    position: relative;
    left: -190px;
}

.page-3 {
    display: none;
    margin-top: 160px;
}

.page-4 {
    display: none;
    margin-top: 135px;
}

.page-3 p,
.page-4 .deux p,
.col20 p {
    font-family: calibri;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.page-3 p span {
    color: #ffeb00;
}

.page-3 .row {
    text-align: center;
    width: 100%;
    margin: 0 auto;
    max-width: 895px;
}

.reprendre {
    margin-top: 10px;
    margin-bottom: 100px;
}

.col20 {
    width: 20%;
    text-align: center;
    color: #ffffff;
}

.col20 p {
    margin-top: 10px;
}

.row.un {
    margin-bottom: 10px;
}

.row.deux {
    margin-bottom: 50px;
    text-align: center;
}

.row.trois {
    margin-bottom: 200px;
    text-align: center;
}

a:hover {
    text-decoration: none;
}

#commerce-show {
    display: none;
}

.footDivGauche,
.footDivDroit {
    padding-top: 20px;
    padding-bottom: 20px;
}

.footDivGauche {
    text-align: left;
    padding-left: 10%;
}

.footDivGauche a {
    font-family: calibri;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 2.55px;
    color: #18375b;
}

.footDivDroit {
    text-align: right;
    padding-right: 10%;
}

footer {
    background: #fdeb19;
    min-height: 20vh;
}

body {
    font-family: calibri;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('en-ain-clic-background.jpg');
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.trois form {
    padding-left: 100px;
    max-width: 300px;
    margin: 0 auto;
    font-family: calibri;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
    text-align: left;
}

.trois input[type="radio"] {
    margin-right: 15px;
}

#categorie {
    margin-top: 100px;
}

#valider-reponse {
    margin-top: 70px;
    margin-bottom: 0;
}

.feedback-input {
    color: #ffeb00;
    font-family: calibri;
    font-weight: 500;
    font-size: 20px;
    border-radius: 3px;
    border: solid 1px #ffeb00;
    line-height: 22px;
    background-color: rgba(253, 235, 25, 0.1);
    transition: all 0.3s;
    padding: 13px;
    margin-bottom: 15px;
    width: 100%;
    box-sizing: border-box;
    outline: 0;
}

.feedback-input::placeholder {
    color: #ffeb00;
    text-transform: uppercase;
}

.trois .formulaire {
    padding-left: 0;
    max-width: 420px;
    margin: 0 auto;
    font-family: calibri;
    font-size: 20px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
    text-align: center;
}

input#valider-formulaire {
    margin-top: 50px;
    margin-bottom: -70px;
}

.remerciement h2 {
    font-size: 45px;
    letter-spacing: 1.17px;
    font-family: calibri;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.8;
    text-align: center;
    color: #fdeb19;
    margin-top: 10px;
}

.remerciement h3 {
    font-family: calibri;
    font-size: 17px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.57;
    letter-spacing: 0.98px;
    text-align: center;
    color: #fdeb19;
    margin-top: -24px;
}

.remerciement h4 {
    margin: 89px 170px 265px 171px;
    font-family: calibri;
    font-size: 20px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
}

.footDivDroit img {
    margin-top: 50px;
}

.col20:hover {
    filter: grayscale(66%) brightness(75%) sepia(118%) hue-rotate( 
9deg
 ) saturate(477%) contrast(1.7);
}


@media only screen and (max-width: 768px) {
    .corpsPrincipal {
        max-width: 100%;
        padding: 0px 1%;
    }
    
    h3 {
        font-size: 12px;
    }
    
    .page-1 h1 {
        margin-top: 50px;
    }

    .repondre, .reprendre {
        font-size: 18px;
        margin-bottom: 120px;
    }
    
    .page-1 {
        margin-top: 100px;
    }
    
    .page-2 img {
        position: relative;
        left: 0%;
        max-width: 330px;
    }
    
    .page-2 .col-5, .page-2 .col-7 {
        width: 100%;
        flex: 0 0 100%;
        max-width: 100%;
    }

    .page-2 p {
        text-align: center;
    }

    .repondre.oui, .repondre.non {
        width: 80px;
        margin-right: 0;
    }

    .repondre.non {
        margin-right: 0;
    }

    .repondre.oui {
        margin-right: 120px;
    }

    .page-4 .precedent1 img, .page-4 .precedent2 img {
        max-width: 100px;
    }

    .page-4 {
        margin-top: 30px;
    }

    .page-3 p, .page-4 .deux p, .col20 p {
        font-size: 18px;
    }

    #categorie {
        margin-top: 50px;
    }

    .col20 {
        width: 100%;
        margin-bottom: 20px;
    }

    body {
        background-image: url('en-ain-clic-background-mobile.jpg');
    }

    .row.trois {
        margin-bottom: 30px;
    }

    .row.deux {
        margin-bottom: 20px;
    }
    
    .feedback-input::placeholder {
        font-size: 18px;
    }

    .feedback-input {
        font-size: 18px;
        height: 40px;
    }

    #formulaire-show {
        height: 730px;
    }

    .formulaire label {
        font-size: 15px;
    }

    #confirmation {
        margin-top: 30px;
    }

    .page-3 p, .page-4 .deux p, .col20 p {
        font-size: 16px;
    }

    .page-3 {
        margin-top: 30px;
        padding-top: 30px;
    }

    .repondre, .reprendre {
        font-size: 18px;
        margin-bottom: 60px;
    }

    .footDivGauche {
        padding-left: 5%;
    }

    .footDivDroit {
        text-align: right;
        padding-right: 30px;
        position: absolute;
        padding-top: 20px;
    }

    .footDivDroit img {
        margin-top: 35px;
        max-width: 210px;
    }

    .footDivGauche p {
        text-align: center;
    }

    .footDivGauche img {
        max-width: 70px;
    }

    .remerciement h4 {
        margin: 0;
        margin-bottom: 100px;
    }




    }
    